# Dependencies
node_modules/
npm-debug.log
yarn-error.log
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp

# Expo
.expo/
dist/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Android
android/
.gradle/
local.properties
*.apk
*.aar
*.hprof
*.keystore

# iOS
ios/
*.pbxproj
*.xcworkspace
Pods/
*.framework

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Build
build/
dist/
coverage/

# Misc
*.log
.cache
.parcel-cache
.next
out
.turbo
.env*.local
